<!-- <p>header works!</p> -->
<mat-toolbar class="header-toolbar">
  <img src="acutec-logo.png" alt="Acutec Logo" class="logo" />
  <span class="company-name">Acutec Global Services</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/product">Product</a>
  <a mat-button routerLink="/services">Services</a>
  <a mat-button routerLink="/client">Client</a>
  <a mat-button routerLink="/contact">Contact</a>
</mat-toolbar>
